@{
    ViewData["Title"] = "Página Inicial";
}

<!-- Conteúdo principal -->
<main>
    <div>
        <h1>Bem-vindo ao ChatDemo!</h1>
        <p>Uma plataforma simples, rápida e segura para você gerenciar suas informações com facilidade. Faça login ou cadastre-se para começar.</p>
    </div>
</main>
